.title {
  font-size: 1.25em;
  font-weight: 600;
  font-variant:inherit;
  letter-spacing: -1px;
  color: #000000f3;
  width: 63%;
  text-align: center;
}

#projectImg {
  padding: 10px;
}

.icons #github {
  background-color: rgba(255, 255, 255, 0);
}

.icons #github:hover {
  background-color: rgb(240, 159, 68);
}

.icons #deployed {
  background-color: rgba(255, 255, 255, 0);
}

.icons #deployed:hover {
  background-color: rgb(240, 159, 68);
}

.icons i {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 2rem;
  margin: 25px 5px 20px;
  border-radius: 30px;
}
