.container {
  padding: 30px;
}

.title {
  font-size: 1.5em;
  letter-spacing: -1px;
  font-weight: 600;
  color: #000000f3;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  background-color: #81be3a77;
}

.icons #github {
  background-color: rgb(255, 255, 255);
}

.icons #github:hover {
  background-color: rgb(240, 159, 68);
}

.icons #deployed {
  background-color: rgb(255, 255, 255);
}

.icons #deployed:hover {
  background-color: rgb(240, 159, 68);
}

.icons i {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 2rem;
  margin: 50px 3px;
  border-radius: 30px;
}
