.container {
  padding: 20px;
  background-image: url("images/about-me.jpg");
  background-size: cover;
}

h2 {
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  text-shadow: 0.5px 0.5px #574b19;
}

@media screen and (max-width: 780px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .justify-content-md-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
